@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700");
body {
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
    font-size: 15px;
}

a {
    display: block;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: none;
}

.d-table {
    width: 100%;
    height: 100%;
}

.d-table-cell {
    vertical-align: middle;
}

.ptb-120 {
    padding-top: 120px;
    padding-bottom: 120px;
}

img {
    max-width: 100%;
}

p {
    line-height: 1.9;
    color: #707070;
    margin-bottom: 15px;
    font-size: 15px;
}

p:last-child {
    margin-bottom: 0;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    color: #0d1028;
}

/*btn btn-primary*/
.fixed-top {
    transition: .5s;
}

.top-bar {
    height: 45px;
    border-bottom: 1px solid rgba(255, 255, 255, .07);
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

.navbar .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: #FFFFFF;
    font-weight: 500;
    outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}

@media (max-width: 991.98px) {
    .navbar .navbar-nav {
        margin-top: 10px;
        border-top: 1px solid rgba(0, 0, 0, .07);
        background: var(--dark);
    }

    .navbar .navbar-nav .nav-link {
        padding: 10px 0;
    }
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        visibility: hidden;
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        transition: .5s;
        opacity: 0;
    }

    .navbar .nav-item:hover .dropdown-menu {
        transform: rotateX(0deg);
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


.nav-logo
{
    width: 240px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.User-Profile-Image
{
    width: 32px;
    height: 32px;
    border-radius: 200px;
    margin-top:18px ;
    margin-right: 10px;
}
.login
{
    background-color: rgb(0, 187, 255);
    color: white;
    font-weight: bold;
    padding: 10px;
    width: 100px;
    margin-top: 12px;
    border-radius: 5px;
    transition-duration: 0.8s;
}
.login:hover
{
    background-color: white;
    color:black ;
}

